@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <meta charset="UTF-8">
        <script src="~/js/jquery.min.js"></script>
        <style>
        </style>
    </head>
    <body>
        <form>
            <audio id="notification" src="~/audio/rockon.ogg"></audio>
            <div id="message" class="message" />
        </form>
    </body>

    <script>
        var source = new EventSource('/rideon');
        source.onmessage = function (event) {
            var data = JSON.parse(event.data);
            document.getElementById('message').innerText = data.Message;
            document.getElementById("notification").play();
        };
        source.onerror = function() {}
    </script>
</html>