@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <meta charset="UTF-8">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/howler.js"></script>

        <style>
        </style>
    </head>
    <body>
        <form>
            <div id="message" class="message" />
        </form>
    </body>

    <script>
        var source = new EventSource('/rideon');
        source.onmessage = function (event) {
            var data = JSON.parse(event.data);
            document.getElementById('message').innerText = data.Message;
            setTimeout(function() { document.getElementById('message').innerText = '';}, 10000);    

            var sound = new Howl({
                src: ['/audio/rockon.ogg']
            });
            sound.play();            
        };
        source.onerror = function() {}
    </script>
</html>