
<html>
    <head>
        <meta charset="UTF-8">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/howler.js"></script>

        <style>
            #speakerDiv {
                position: absolute;
                top: -10px;
                left: 60px;
                z-index: 0;
            }

            #avatarDiv {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1
            }
        </style>
    </head>
    <body>
        <div id="chat" style="display:none;">
            <div id="speakerDiv"><img id="speaker" src="/images/speaker.gif" width="50"></div>
            <div id="avatarDiv"><img id="avatar" width="100"></div>
        </div>
    </body>

    <script>
        var source = new EventSource('/rideon');
        source.onmessage = function (event) {
            var data = JSON.parse(event.data);
            console.log(data);

            if (data.Avatar)
            {
                document.getElementById("avatar").src = data.Avatar;
                document.getElementById("chat").style.display = 'block';
            }
            else 
            {
                document.getElementById("chat").style.display = 'none';
            }

            var sound = new Howl({
                src: [data.AudioSource]
            });
            sound.play();
            sound.on('end', function() {
                setTimeout(function() { document.getElementById("chat").style.display = 'none'; }, 3000);
            });
        };
        source.onerror = function() {}
    </script>
</html>