@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <meta charset="UTF-8">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/howler.js"></script>

        <style>
        </style>
    </head>
    <body>
        <div id="message" class="message"></div>
        <div id="avatarDiv"><img id="avatar" width="100" height="100"></div>
    </body>

    <script>
        var source = new EventSource('/rideon');
        source.onmessage = function (event) {
            var data = JSON.parse(event.data);
            console.log(data);

            document.getElementById("message").innerText = data.Message;

            if (data.Avatar)
            {
                document.getElementById("avatar").src = data.Avatar;
                document.getElementById("avatar").style.display = 'block';
            }
            else 
            {
                document.getElementById("avatar").style.display = 'none';
            }

            setTimeout(function() 
                { 
                    document.getElementById("message").innerText = '';
                    document.getElementById("avatar").style.display = 'none';
                }, 10000);    

            var sound = new Howl({
                src: [data.AudioSource]
            });
            sound.play();            
        };
        source.onerror = function() {}
    </script>
</html>