<html>
    <head>
        <meta charset="UTF-8">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/howler.js"></script>

        <style>
            #speakerDiv {
                position: absolute;
                top: -10px;
                left: 60px;
                z-index: 0;
            }

            #avatarDiv {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1
            }
        </style>
    </head>
    <body>
        <div id="chat" style="display:none;">
            <div id="speakerDiv"><img id="speaker" src="/images/speaker.gif" width="50"></div>
            <div id="avatarDiv"><img id="avatar" width="100"></div>
        </div>
    </body>

    <script>
        var queue = new Array();

        var source = new EventSource('/notifications/chat');
        source.onmessage = function (event) {
            var data = JSON.parse(event.data);
            console.log(data);

            queue.push(data);
        };
        source.onerror = function() {}

        handleQueue();

        function handleQueue()
        {
            data = queue.shift();
            if (data)
            {
                document.getElementById("chat").style.display = 'none';

                var sound = new Howl({
                    src: [data.AudioSource]
                });

                sound.play();
                sound.on('load', function() {
                    if (data.Avatar)
                    {
                        document.getElementById("avatar").src = data.Avatar;
                        document.getElementById("chat").style.display = 'block';
                    }
                });
                sound.on('loaderror', function() {
                    console.log('sound error');
                    finalizeTTS();
                });
                sound.on('end', function() {
                    console.log('sound finished');
                    setTimeout(function() { finalizeTTS(); }, 500);
                });
            }
            else {
                setTimeout(function() { handleQueue(); }, 500);
            }
        }

        function finalizeTTS()
        {
            document.getElementById("chat").style.display = 'none';
            handleQueue();
        }
    </script>
</html>