<html>
    <head>
        <meta charset="UTF-8">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/howler.js"></script>

        <style>
            #chat {
                display: none;
                width: 100px;
            }
            
            #speakerDiv {
                position: absolute;
                top: -10px;
                left: 60px;
                z-index: 0;
            }

            #avatarDiv {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1
            }

            #flagDiv {
                position: absolute;
                z-index: 0;
                top: 80px;
                left: 77px;
            }
        </style>
    </head>
    <body>
        <div id="chat">
            <div id="speakerDiv"><img id="speaker" src="/images/speaker.gif" width="50"></div>
            <div id="avatarDiv"><img id="avatar" width="100"></div>
            <div id="flagDiv"><img id="flag" width="20"></div>
        </div>
    </body>

    <script>
        var queue = new Array();

        var source = new EventSource('/notifications/chat');
        source.onmessage = function (event) {
            var data = JSON.parse(event.data);
            console.log(data);

            queue.push(data);
        };
        source.onerror = function() {}

        handleQueue();

        function handleQueue()
        {
            // throttle the tts queue size so it doesn't get
            // super backed up
            while (queue.length > 4)
            {
                queue.shift();
                console.log("queue: "+ queue.length);
            }

            data = queue.shift();

            if (data)
            {
                try 
                {
                    document.getElementById("chat").style.display = 'none';

                    var sound = new Howl({
                        src: [data.AudioSource]
                    });

                    sound.play();
                    sound.on('load', function() {
                        if (data.CountryCode) 
                        {
                            document.getElementById("flag").src = '/images/flags/' + data.CountryCode + '.svg';
                        }
                        else
                        {
                            document.getElementById("flag").src = '';
                        }

                        if (data.Avatar)
                        {
                            document.getElementById("avatar").src = data.Avatar;
                            document.getElementById("chat").style.display = 'block';
                        }
                    });
                    sound.on('loaderror', function() {
                        console.log('sound error');
                        finalizeTTS();
                    });
                    sound.on('end', function() {
                        console.log('sound finished');
                        setTimeout(function() { finalizeTTS(); }, 500);
                    });
                }
                catch
                {
                    setTimeout(function() { finalizeTTS(); }, 500);
                }
            }
            else {
                setTimeout(function() { handleQueue(); }, 500);
            }
        }

        function finalizeTTS()
        {
            document.getElementById("chat").style.display = 'none';
            handleQueue();
        }
    </script>
</html>