@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <meta charset="UTF-8">
        <script src="~/js/jquery.min.js"></script>
        <style>
        </style>
    </head>
    <body>
        <div style="width:400px">
            <div class="label power">Avg. Power: <span class="metric" id="power"></span></div>
            <div class="label hr">Avg. HR: <span class="metric" id="hr"></span></div>
            <div class="label speed">Avg. Speed: <span class="metric" id="speed"></span></div>
            <div class="label cadence">Avg. Cadence: <span class="metric" id="cadence"></span></div>
        </div>
    </body>

    <script>
        var source = new EventSource('/notifications');
        source.onmessage = function (event) {
            var data = JSON.parse(event.data);
            console.log('Power: ' + data.Power + ', HR: ' + data.HeartRate + ', Avg Power: ' + data.AvgPower + ', Avg Speed: ' + data.AvgSpeed + ', Avg Cadence: ' + data.AvgCadence + ', Avg HR: ' + data.AvgHeartRate);
            document.getElementById('power').innerText = data.AvgPower;
            document.getElementById('hr').innerText = data.AvgHeartRate;
            document.getElementById('speed').innerText = data.AvgSpeed;
            document.getElementById('cadence').innerText = data.AvgCadence;
        };
        source.onerror = function() {}
    </script>
</html>